/* components/Navbar/Navbar.css */

.navbar {
  background-color: var(--background-color) !important;
}

.nav-link {
  color: var(--text-color) !important;
  text-decoration: none;
  margin: 0 10px;
  font-size: 25px;
}

.nav-link:hover {
  color: var(--btn-color) !important;
  height: inherit;
  border: 2px solid white;
  border-radius: 15px;
}

.ml-auto {
  display: flex;
  justify-content: center;
  min-height: 30px;
  width: 100%;
  max-width: 450px;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}

/* Media query for mobile devices */
@media (max-width: 576px) {
  .ml-auto {
    height: auto;
    padding: 10px 0;
    flex-direction: column;
    align-items: center;
  }

  .nav-link {
    margin: 5px 0;
    font-size: 20px;
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 0;
  }

  .nav-link:hover {
    border: 2px solid white;
    border-radius: 15px;
  }
}
